.App {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

body {
  overflow-x: hidden;
  background: #fcd34d;
}

h1 {
  padding: 3rem;
  font-size: 2.5rem;
}
input {
  width: 60%;
  padding: 1rem;
  border: 2px solid #2563eb;
  border-radius: 0.5rem;
}

.meaning {
  padding-top: 1rem;
  text-align: center;
  width: 90vw;
  margin: 1rem auto;
  font-size: 1.5rem;
}

.emoji-design {
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 3rem;
}
